<!DOCTYPE html>
<html>

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="../static/css/physician.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

    <script src="../static/javascript/physcian.js"></script>
</head>

<body>
    <br>
    <br>
    <h1 class="equipment-title" style="text-align:center">Equipments Page!</h1>
    <br>
    <div class="row">
        <div class="col-search">
            <div class="dataTables_filter">
                <form action="/search_equipment/" method="POST">
                    <label for="equipment_type">Equipment Type:</label>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <input type="text" name="search_item" id="search_item"><br>
                    <!-- submit -->

                </form>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-align:right">
        Add Equipment!
    </button>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add an Equipment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="content">
                            <form action="" method="POST">
                                <br> <label for="equipment_type">Equipment Type:</label><br>
                                <input type="text" name="equipment_type" id="equipment_type" size="50"><br><br>
                                <label for="description">Description:</label><br>
                                <input type="text" name="description" id="description" size="50"><br><br>
                                <label for="department">Department:</label><br>
                                <input type="text" name="department" id="department" size="50"><br><br>
                                <label for="is_owned">Is Owned:</label>
                                <input type="checkbox" id="is_owned" name="is_owned" value="on"><br><br>
                                <label for="is_leased">Is Leased:</label>
                                <input type="checkbox" id="is_leased" name="is_leased" value="on"><br>
                                <br/>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add Equipment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div div class="mt-5">
        <table class="table center" id="physcian-table">
            <thead>
                <tr>
                    <th>Equipment ID</th>
                    <th>Equipment Type</th>
                    <th>Equipment Description</th>
                    <th>Department of eequipment</th>
                    <th>Owned/Leased</th>
                    <th>Maintenance History</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipments %}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td>{{ equipment.type }}</td>
                    <td>{{ equipment.description }}</td>
                    <td>{{ equipment.department }}</td>
                    {% if equipment.is_owned%}
                    <td>Leased</td>
                    {% else %}
                    <td> Owned</td>
                    {% endif%}
                    <td>
                        <!-- Create a Maintenance History modal button with uid -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ equipment.id }}">Maintenance History</button>


                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js "></script>
</body>

</html>