

{%extends 'base.html'%}


{%block head%}
<nav>
</nav>

{% endblock %}

{%block body%}
<div class = "Content">
        <div>
            <p>{{Find}}</p>
            <p>Patient: {{person['name']}}</p>
            <p>Medical Encounter: {{person['ME']}}</p>
            <p>Physician: {{person['Physican']}}</p>
            <p>prescription: {{person['Prescription']}}</p>

        </div>

        <form action = '/InsuranceBilling' method = 'POST'>
            <p>Patient Name</p>
            <input type = 'text' name = 'PatientName' placeholder = 'Patient Name' required/>
            <input type = 'submit' value = 'Submit'/>
        </form>

</div>


{% endblock %}