{% extends "dashboard.html" %}
{% block main_content %}
<title>Patient Information</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="../static/css/patient.css">

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

<script src="../static/javascript/patient.js"></script>

<div div class="mt-5">
	<table class="table center" id="patient-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Telephone Number</th>
				<th>Address</th>
				<th>Insurance</th>
				<th>Date of Birth</th>
				<th>Gender</th>
				<th>Primary Care Physician</th>
				<th>Current Medications</th>
				<th>Scheduled Appointments</th>
			</tr>
		</thead>
		<tbody>
			{% for patient in patients %}
			<tr>
				<td>{{ patient.id }}</td>
				<td>{{ patient.name }}</td>
				<td>{{ patient.telephone }}</td>
				<td>{{ patient.address }}</td>
				<td>{{ patient.insurance[0].name if patient.insurance else 'N/A' }}</td>

				<td>{{ patient.date_of_birth }}</td>
				<td>{{ patient.gender }}</td>

				<td>{{ patient.physician.physician_name }}</td>
				<td><a href="/patient/{{patient.id}}/medication" class="btn btn-primary">View Medication</a>

				</td>
				<td><a href="/patient/{{patient.id}}/appointment" class="btn btn-primary">View appointment</a>
				</td>
			</tr>
			{% endfor %}


		</tbody>
	</table>

	{%for patient in patients %}
	<div class="project-boxes jsGridView">
		<div class="project-box-wrapper">
			<div class="project-box" style="background-color: #fee4cb;">
				<div class="project-box-header">
					<span>{{patient.id}}</span>
					<div class="more-wrapper">
						{{patient.gender}}
					</div>
				</div>
				<div class="project-box-content-header">
					<p class="box-content-header">{{patient.name}}</p>
					<p class="box-content-subheader">{{patient.date_of_birth}}</p>
				</div>
				<div class="box-progress-wrapper">
					<p class="box-progress-header">Contact</p>
					<p class="box-content-subheader" style="text-align: center">{{patient.telephone}}</p>
				</div>
				<div class="project-box-footer">
					<div class="participants">
						<span>{{patient.physician.physician_name}}</span>
						<button class="add-participant" style="color: #ff942e;">
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-plus">
								<path d="M12 5v14M5 12h14" />
							</svg>
						</button>
					</div>
					
			
			


	<button class="days-left" style="color: #ff942e; border:none" id =  "open-modal" >
		View More
	</button>
	<div id="modal" class="modal">
		<div class="modal-content">
			<span id="close-modal" class="close">&times;</span>
			<h2>Patient Detail</h2>
			<span>insurance: {{patient.insurance[0].name if patient.insurance else 'N/A' }}</span>
			<span>Medication</span>
			<a href="" class="btn btn-primary">View Medication</a>
			<span>Appointment</span>
			<a href="" class="btn btn-primary">View Appointment</a>
			
			
			
		</div>
		<script>
			// Get the modal element
			var modal = document.getElementById("modal");

			// Get the button that opens the modal
			var btn = document.getElementById("open-modal");

			// Get the <span> element that closes the modal
			var span = document.getElementById("close-modal");

			// When the user clicks the button, open the modal
			btn.onclick = function () {
				modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function () {
				modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function (event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
		</script>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	{% endfor %}

	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
		Open Modal
	  </button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Patient Detail</Details></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div div class="mt-5">

					<table class="table center" id="patient-table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Telephone Number</th>
								<th>Address</th>
								<th>Insurance</th>
								<th>Date of Birth</th>
								<th>Gender</th>
								<th>Primary Care Physician</th>
								<th>Current Medications</th>
								<th>Scheduled Appointments</th>
							</tr>
						</thead>
						<tbody>
							{% for patients in patients %}
							<tr>
								<td>{{ patients.id }}</td>
								<td>{{ patients.name }}</td>
								<td>{{ patients.telephone }}</td>
								<td>{{ patients.address }}</td>
								<td>{{ patients.insurance }}</td>
								<td>{{ patients.date_of_birth }}</td>
								<td>{{ patients.gender }}</td>
								<td>{{ patients.primary_physician }}</td>
								<td>
									<a href=f"/patient/{{patients.id}}/medication" class="btn btn-primary">View
										Medication</a>


								</td>
								<td>
									<a href="/patient/{{patients.id}}/appointment" class="btn btn-primary">View
										appointment</a>

								</td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>



{% endblock %}