<!DOCTYPE html>
<html>
    {% block head %}
   
    <title>Prescription details</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.4.2/js/dataTables.searchBuilder.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>


    <script src="https://cdn.datatables.net/datetime/1.4.0/js/dataTables.dateTime.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.4.0/js/dataTables.dateTime.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.4.2/css/searchBuilder.dataTables.min.css">
    <link href="https://cdn.datatables.net/datetime/1.4.0/css/dataTables.dateTime.min.css">


    <script>

var minDate, maxDate;
 
 // Custom filtering function which will search data in column four between two values
 $.fn.dataTable.ext.search.push(
     function( settings, data, dataIndex ) {
         var min = minDate.val();
         var max = maxDate.val();
         var date = new Date( data[4] );
  
         if (
             ( min === null && max === null ) ||
             ( min === null && date <= max ) ||
             ( min <= date   && max === null ) ||
             ( min <= date   && date <= max )
         ) {
             return true;
         }
         return false;
     }
 );
  
 $(document).ready(function() {
     // Create date inputs
     minDate = new DateTime($('#min'), {
         format: 'MMMM Do YYYY'
     });
     maxDate = new DateTime($('#max'), {
         format: 'MMMM Do YYYY'
     });
  
     // DataTables initialisation
     var table = $('#example').DataTable(
        {
            dom:'Bfrtip' ,buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
        
        }
     );
  
     // Refilter the table
     $('#min, #max').on('change', function () {
         table.draw();
     });
 });
       
    </script>
    {% endblock %}


    {% block body %}
    <div class="container">

        <h1 style="text-align: center"> Prescription Details</h1>
            <!-- <table  class="display nowrap" style="width:100%">
                <tbody><tr>
                    <td>Start date:</td>
                    <td><input type="text" id="min" name="min"></td>
                    <td>End date:</td>
                    <td><input type="text" id="max" name="max"></td>
                </tr>
            
            </tbody></table> -->
<br>
<br>
        
        {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no tasks. Create one below!</h4>
        {% else %}
        

        <table id="example" class="display nowrap" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Patient Name</th>
                <th>Physician Name</th>
                <th>Medication</th>
                <th>Dosage</th>
                <th>Frequency</th>
                <th>Filled By</th>
                <th>Date Created</th>
                <th>Medical Encounter</th>


            </tr>
            </thead>
            {% for task in tasks %}
            <tbody>
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.patient_name }}</td>
                    <td>{{ task.physician_name }}</td>
                    <td>{{ task.medication }}</td>
                    <td>{{ task.dosage }}</td>
                    <td>{{ task.frequency }}</td>
                    <td>{{ task.filled_by }}</td>
                    <td>{{ task.date_filled }}</td>
                    <td>{{ task.med_enc }}</td>                   
                </tr>
                </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>       
    {% endblock %} 
    
    </html>